<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap">
<ion-content class="ion-padding">
  <div class="image-container">
    <ion-img id="logo" src="https://i.ibb.co/XX7BV00/removebg-preview.png" alt="Logo"></ion-img>
  </div>


  <div class="flex-center">

    <div class="ion-activatable ripple-parent rectangle rounded-rectangle">
        <ion-ripple-effect></ion-ripple-effect>
        <span class="left-text">ניהול לקוחות</span>
        <img src="https://icons.veryicon.com/png/o/miscellaneous/common-icons-10/customer-management-15.png" alt="Description of the image">
      </div>

      <div class="ion-activatable ripple-parent rectangle rounded-rectangle2">
        <ion-ripple-effect></ion-ripple-effect>
        <span class="left-text">עריכת קורסים</span>
        <img src="https://icon-library.com/images/management-icon-png/management-icon-png-2.jpg" alt="Description of the image">
      </div>
  <div class="logout" id="logout">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon name="log-out-outline"></ion-icon>
        </div>





</div>

