<ion-content class="ion-padding">
  <div class="image-container">
    <ion-img id="logo" src="https://i.ibb.co/XX7BV00/removebg-preview.png" alt="Logo"></ion-img>
  </div>
  <div class="flex-center">
    <div class="ion-activatable ripple-parent rectangle rounded-rectangle">
        <ion-ripple-effect></ion-ripple-effect>
    </div>

    <div class="ion-activatable ripple-parent rectangle rounded-rectangle2">
      <ion-ripple-effect></ion-ripple-effect>
      <img src="/src/images/management-icon-png-2.jpg" alt="Description of the image">
  </div>


</div>

