
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


ion-content {
  // --ion-background-color: #ececec;
  --ion-background-color: white;

}

.container {
    transform: translateY(-10%);
}


.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  height: 300px;
  width: 300px;

  margin: 0 auto;
}

b {
  width: 100%;
}

.ripple-parent {
  position: relative;
  overflow: hidden;

  border: 1px solid #ddd;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Added this line to stack the rectangles vertically */
}

.rectangle {
  width: 300px;
  height: 150px;
  margin-bottom: 18px;
}

.rounded-rectangle {
  width: 250px;
  height: 90px;
  border-radius: 8px;
}
.left-text {
  position: absolute;
  right: 0;
  top: 40%;
  transform: translateY(-50%);
  transform: translateX(-5%);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bolder;

}


.rounded-rectangle img {
  max-width: 33%;
  height: auto;
  position: absolute;
  top: 5%;
  transform: translateY(50%);
  transform: translateX(10%);
  left: 0;
}
.rounded-rectangle2 {
  width: 250px;
  height: 90px;
  border-radius: 8px;
  position: relative;
}
.left-text {
  position: absolute;
  right: 0;
  top: 40%;
  transform: translateY(-50%);
  transform: translateX(-5%);
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 16px;

}

.rounded-rectangle2 img {
  max-width: 33%;
  height: auto;
  position: absolute;
  top: 5%;
  transform: translateY(50%);
  transform: translateX(10%);
  left: 0;
}


.circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.logout {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: #e9e9e9;
  border-radius: 50%;
  padding: 5px;
}

.logout ion-icon {
  color: red;
  font-size: 24px;
}
