<ion-content class="ion-padding">
  <div class="image-container">
    <ion-img id="logo" src="https://i.ibb.co/XX7BV00/removebg-preview.png" alt="Logo"></ion-img>
  </div>
  <div class="container">
    <ion-label class="title">איפוס סיסמא</ion-label>
    <br> <br>
    <ion-item>
      <ion-label slot="end">כתובת מייל</ion-label>
      <ion-input [(ngModel)]="email" type="email" name="email" placeholder="הכנס כתובת מייל" required></ion-input>
    </ion-item>
  </div>

  <ion-button expand="block">אישור</ion-button>
  <!-- <ion-button fill="clear" expand="block">אפשרות אחרת</ion-button> -->
</ion-content>
