
<<<<<<< HEAD
=======


>>>>>>> 11a618f7b7d7620233e0fdb6e9786acc38c40500
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  ion-content {
    // --ion-background-color: #ececec;
    --ion-background-color: white;
    
  }

  .container {
    transform: translateY(-10%);
<<<<<<< HEAD
    padding: 5%;

  }
  

  .button-container {
    margin-top: 20%;
    padding: 10%;
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
  }

=======
    padding: 10%;
  }

  ion-card-title {
    text-align: center;
    font-family: Impact, Haettenschweile;

  }
  
>>>>>>> 11a618f7b7d7620233e0fdb6e9786acc38c40500
