


.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  ion-content {
    // --ion-background-color: #ececec;
    --ion-background-color: white;
    
  }

  .container {
    transform: translateY(-10%);
    padding: 10%;
  }

  ion-card-title {
    text-align: center;
    font-family: Impact, Haettenschweile;

  }
  