<ion-content class="ion-padding">
  <div class="image-container">
    <ion-img id="logo" src="https://i.ibb.co/XX7BV00/removebg-preview.png" alt="Logo"></ion-img>
  </div>

  <div class="container">
    <ion-card-header>
      <ion-card-title>בחר סיסמה חדשה</ion-card-title>
    </ion-card-header>
  
    <ion-item>
      <ion-label style="color: gray; font-family: Verdana, Geneva, Tahoma, sans-serif;" slot="end">הכנס סיסמה חדשה</ion-label>
      <ion-input [(ngModel)]="password" type="password"></ion-input>
    </ion-item>
    <br>

    <ion-item>
      <ion-label style="color: gray; font-family: Verdana, Geneva, Tahoma, sans-serif;" slot="end">אשר סיסמה</ion-label>
      <ion-input  type="password"></ion-input> <!-- We will assume that this is for password confirmation and it's not required in this tutorial -->
    </ion-item>
  </div>

  <ion-button (click)="resetPassword()" expand="block">אישור</ion-button> 
</ion-content>
