
<ion-content>

  <div class="image-container">
    <ion-img id="logo" src="https://i.ibb.co/XX7BV00/removebg-preview.png" alt="Logo"></ion-img>
  </div>

  <ion-button class="back-button" (click)="goToLoginPage()" fill="clear">
    <div class="back-button">
      <ion-img id="backbtn" src="https://i.ibb.co/crMhw0k/removebg-preview.png" alt="icon"></ion-img>
    </div>
  </ion-button>  

    <form id="registration-form" #registrationForm="ngForm" (ngSubmit)="onClick()">

    <ion-list>
      <ion-item>
        <ion-label slot="end">שמות ההורים</ion-label>
        <ion-input type="text"[(ngModel)]="parentNames" name="parentNames" placeholder="הכנס שם משתמש" required></ion-input>
      </ion-item>

      <br>
      <ion-item>
        <ion-label slot="end">שם משתמש</ion-label>
        <ion-input type="text" [(ngModel)]="username" name="username" placeholder="הכנס שם משתמש" required></ion-input>
      </ion-item>
      <br>

      <ion-item>
        <ion-label slot="end">סיסמא</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" placeholder="הכנס סיסמא" required></ion-input>
      </ion-item>
      <br>

      <ion-item>
        <ion-label slot="end">תקינות סיסמא</ion-label>
        <ion-input type="password" [(ngModel)]="cpassword" name="confirmPassword" placeholder="אמת סיסמא" required></ion-input>
      </ion-item>
      <br>

      <ion-item>
        <ion-label slot="end">כתובת מייל</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email" placeholder="הכנס כתובת מייל" required></ion-input>
      </ion-item>
      <br>

      <ion-item>
        <ion-label slot="end">מספר פלאפון</ion-label>
        <ion-input type="tel" [(ngModel)]="phoneNumber" name="phoneNumber" placeholder="הכנס מספר פלאפון" required></ion-input>
      </ion-item>
      <br>

      <ion-item>
        <ion-label slot="end">מספר ילדים</ion-label>
        <ion-input type="number" [(ngModel)]="numberOfChildren" (ionChange)="onNumberOfChildrenChange()" name="numberOfChildren" placeholder="הכנס מספר ילדים" required></ion-input>
      </ion-item>
      <br>
      <div *ngFor="let child of children; let i=index">
        <div *ngIf="childinfo">
          <ion-list>
      
            <ion-item>
              <ion-label slot="end">שם הילד</ion-label>
              <ion-input type="text" [(ngModel)]="child.childName" name="childName{{i}}" placeholder="הכנס את שם הילד" required></ion-input>
            </ion-item>
            <br>
            <ion-item>
              <ion-label slot="end">תעודת זהות</ion-label>
              <ion-input type="text" [(ngModel)]="child.childID" name="childID{{i}}" placeholder="הכנס תעודת זהות" required></ion-input>
            </ion-item>
            <br>
            <ion-item>
              <ion-label slot="end">תאריך לידה (6-17)</ion-label>
              <ion-input type="date" [(ngModel)]="child.birthdate" name="birthdate{{i}}" required (ionChange)="ionChanger()"></ion-input>
            </ion-item>
            <br>
            <ion-item>
              <ion-select slot="end" [(ngModel)]="child.gender" name="gender" aria-label="Gender" interface="action-sheet" placeholder="בחר מין" required>
                <ion-select-option value="זכר">זכר</ion-select-option>
                <ion-select-option value="נקבה">נקבה</ion-select-option>
              </ion-select>
            </ion-item>
            <br>
      
            <ion-item>
              <ion-select slot="end" [(ngModel)]="child.courseType" name="courseType" aria-label="Courses" interface="action-sheet" placeholder="בחרו קורס" required>
                <ion-select-option *ngIf="child.disableSelector1" value="היפהופ בוגרים" disabled>היפהופ בוגרים (10-17)</ion-select-option>
                <ion-select-option *ngIf="child.disableSelector2" value="היפהופ צעירים" disabled>היפהופ צעירים (6-9)</ion-select-option>
                <ion-select-option *ngIf="child.disableSelector3" value="בלט בוגרים" disabled>בלט בוגרים (10-17)</ion-select-option>
                <ion-select-option *ngIf="child.disableSelector4" value="בלט צעירים" disabled>בלט צעירים (6-9)</ion-select-option>
              </ion-select>
            </ion-item>
      
          </ion-list>
        </div>
      </div>
      

    </ion-list>

    <ion-button size="full" (click)="onClick()">המשך הרשמה</ion-button>

  </form>

</ion-content>


