ion-content {
  --ion-background-color: white;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

ion-card-title {
  font-size: 28px;
  color: black;
  text-align: center;
  font-family: 'Roboto Thin', sans-serif;
  font-weight: normal;
  font-style: italic;
}

ion-searchbar {
  padding: 5%;
}