<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>פרטי לקוח</ion-card-title>
    </ion-card-header>
    <br>
    <ion-card-content>
      <!-- Display the customer details here -->
      <p>Parent Names: <span>{{customer.parentNames}}</span></p>
      <p>Phone Number: <span>{{customer.phoneNumber}}</span></p>
      <p>Username: <span>{{customer.username}}</span></p>
      <p>Password: <span>{{customer.password}}</span></p>
      <p>Email: <span>{{customer.email}}</span></p>
      <p>Number of Children: <span>{{customer.numberOfChildren}}</span></p>
      <p>Child Name: <span>{{customer.childName}}</span></p>
      <p>Birth Date: <span>{{customer.birthdate | date}}</span></p> <!-- Use Angular date pipe to format the date -->
      <p>Gender: <span>{{customer.gender}}</span></p>
      <p>Course Type: <span>{{customer.courseType}}</span></p>
      <p>Child ID: <span>{{customer.childID}}</span></p>
      <p>Teacher: <span>{{customer.teacher}}</span></p>
      <p>Course ID: <span>{{customer.courseID}}</span></p>
    </ion-card-content>
  </ion-card>


  <div class="flex-center">
    <ion-button color="danger">מחק לקוח</ion-button>
    <ion-button color="success">ערוך לקוח</ion-button>
  </div>
  <br>
  <ion-button size="full" (click)="closeModal()">סגירה</ion-button>
</ion-content>